{% load static %}
<!doctype html>

<html lang="{{lang}}">

  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static '/css/fonts.css' %}" rel="stylesheet">
    <link href="{% static '/css/layout.css' %}" rel="stylesheet" />
    <link href="{% static '/css/components.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% if lang == "no" %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-NDY893MVDM"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NDY893MVDM');
      </script>
    {% else %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-JWMEK2S96S"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JWMEK2S96S');
      </script>
    {% endif %}

    {% block title %}
    {% endblock %}
  </head>

  <body>
  {{ lang }}
    {% include 'components/nav.html' %}
    {% block body %}
    {% endblock %}

    <script>
    function menu() {
      var x = document.getElementsByTagName('nav')[0].getElementsByTagName('li')[2];
      console.log(x);
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    </script>
  </body>

</html>
