{% extends "base.html" %}

{% load static %}
{% load richtext %}

{% block title %}
  <title>{{ page.title }} - Reinertsen New Energy</title>
{% endblock %}

{% block body %}

{% include 'components/header.html' %}

<article class="main textbox full">
  {% if page.lead and page.image %}
  <img class="lead" src="{{ page.image.url }}">
  <p class="large">{{ page.lead }}</p>
  {% elif page.lead %}
  <p class="large">{{ page.lead }}</p>
  {% elif page.image %}
  <img class="lead" src="{{ page.image.url }}">
  {% elif page.lead %}
  {% endif %}
  <div class="body">
  {{ page.content|render|safe }}
  </div>
</article>
<aside class="links">
  {% for item in page.subpages %}
    {% include 'components/textbox-person.html' with content=item %}
  {% endfor %}
</aside>

{% endblock %}
