{% extends "base.html" %}

{% load static %}
{% load richtext %}

{% block title %}
  <title>Reinertsen New Energy - {{ page.title }}</title>
{% endblock %}

{% block body %}

<section class="title">
  <h1>{{ page.title }}</h1>
</section>

{% if page.content|render|safe > 0  %}
<section class="text">
  {% if page.image %}
  <img class="image" src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.description }}">
  {% endif %}
  {{ page.content|render|safe }}
</section>
{% endif %}

{% for person in page.subpages %}
<section class="person">
  <img class="image" src="{{ person.image.url }}" title="{{ person.image.title }}" alt="{{ person.image.description }}">
  <h3>{{ person.title }}</h3>
  <p>
    {{ person.phone }}<br>
    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
  </p>
</section>
{% endfor %}

{% endblock %}
