{% extends "base.html" %}

{% load static %}
{% load richtext %}

{% block title %}
  <title>Reinertsen New Energy</title>
{% endblock %}

{% block body %}

<section class="page content blue front">

  <div class="col left">
    <h1 class="logo">
      <span>Reinertsen</span>
      <span>New Energy</span>
    </h1>

    {% if locale == 'nb-NO' %}
    <a href="https://rein-energy.com">View page in english</a>
    {% else %}
    <a href="https://rein-energy.no">Vis siden på norsk</a>
    {% endif %}
  </div>

  <div class="col right">
    {{ page.content|render|safe }}
  </div>

</section>

{% endblock %}
