{% extends "base.html" %}

{% load static %}
{% load richtext %}

{% block title %}
  <title>{{ page.title }} - Reinertsen New Energy</title>
{% endblock %}

{% block body %}

{% include 'components/header.html' %}

{% if page.content %}

  {% if page.featured and page.subpages %}

    <article class="main textbox medium">
      {% if page.lead %}
      <p class="large">{{ page.lead }}</p>
      {% endif %}
      {{ page.content|render|safe }}
      {% if page.content_image %}
        <img class="contentimage" src="{{ page.content_image.url }}">
      {% endif %}
    </article>
    <aside class="featured">
      {% for item in page.featured %}
        {% include 'components/textbox.html' with content=item %}
      {% endfor %}
    </aside>
    <aside class="links">
      {% for item in page.subpages %}
        {% include 'components/textbox.html' with content=item %}
      {% endfor %}
    </aside>

  {% elif page.featured %}

    <article class="main textbox medium">
      {% if page.lead %}
      <p class="large">{{ page.lead }}</p>
      {% endif %}
      {{ page.content|render|safe }}
      {% if page.content_image %}
        <img class="contentimage" src="{{ page.content_image.url }}">
      {% endif %}
    </article>
    <aside class="featured">
      {% for item in page.featured %}
        {% include 'components/textbox.html' with content=item %}
      {% endfor %}
    </aside>

  {% elif page.subpages %}

    <aside class="links small">
      {% for item in page.subpages %}
        {% include 'components/textbox.html' with content=item %}
      {% endfor %}
    </aside>

    <article class="main textbox large">
      {% if page.lead %}
      <p class="large">{{ page.lead }}</p>
      {% endif %}
      {{ page.content|render|safe }}
      {% if page.content_image %}
        <img class="contentimage" src="{{ page.content_image.url }}">
      {% endif %}
    </article>

  {% else %}

    <article class="main textbox full">
      {% if page.lead %}
      <p class="large">{{ page.lead }}</p>
      {% endif %}
      {{ page.content|render|safe }}
      {% if page.content_image %}
        <img class="contentimage" src="{{ page.content_image.url }}">
      {% endif %}
    </article>

  {% endif %}

{% elif page.featured and page.subpages %}

    <aside class="featured">
      {% for item in page.featured %}
        {% include 'components/textbox.html' with content=item %}
      {% endfor %}
    </aside>
    <aside class="links">
      {% for item in page.subpages %}
        {% include 'components/textbox.html' with content=item %}
      {% endfor %}
    </aside>

{% elif page.featured %}

    <aside class="featured">
      {% for item in page.featured %}
        {% include 'components/textbox.html' with content=item %}
      {% endfor %}
    </aside>

{% elif page.subpages %}

  <aside class="links">
    {% for subpage in page.subpages %}
      {% include 'components/textbox.html' with content=subpage %}
    {% endfor %}
  </aside>

{% endif %}

{% endblock %}
