{% extends "base.html" %}

{% load static %}
{% load richtext %}

{% block title %}
  <title>Reinertsen New Energy</title>
{% endblock %}

{% block body %}

{% include 'components/header.html' %}

<article class="main textbox large">
  {% if page.lead and page.image %}
  <img class="lead" src="{{ page.image.url }}">
  <p class="large">{{ page.lead }}</p>
  {% elif page.lead %}
  <p class="large">{{ page.lead }}</p>
  {% elif page.image %}
  <img class="lead" src="{{ page.image.url }}">
  {% elif page.lead %}
  {% endif %}
  <div class="body">
  {% if page.content %}
  {{ page.content|render|safe }}
  {% endif %}
  {% if page.content_image %}
    <img class="contentimage" src="{{ page.content_image.url }}">
  {% endif %}
  </div>
</article>
<aside class="links small">
  {% for item in parent.featured %}
    {% ifnotequal item.slug page.slug %}
      {% include 'components/textbox-related.html' with content=item %}
    {% endifnotequal %}
  {% endfor %}
  {% for item in parent.subpages %}
    {% ifnotequal item.slug page.slug %}
      {% include 'components/textbox-related.html' with content=item %}
    {% endifnotequal %}
  {% endfor %}
  <a class="textbox" href="/{{parent.slug}}"><h4><i class="material-icons">arrow_back&ensp;</i>{{parent.title}}</h4></a>
</aside>

{% endblock %}
