html{
  width: 100%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  position: relative;
}

body{
  margin: 0;
  padding: 6rem 0 0 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  padding: 1.5rem;

  box-sizing: border-box;
  overflow: hidden;
  z-index: 100;
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;
}

header #logo{
  padding: .75rem;
  float: right;
  text-transform: uppercase;
  text-align: right;
  font-family: 'DIN Next';
  font-weight: 700;
  text-decoration: none;
}

header #logo span:first-child{
  font-size: 1rem;
  line-height: 1rem;
  display: block;
}

header #logo span:last-child{
  font-size: .5rem;
  line-height: .5rem;
  display: block;
}

header #menubutton{
  padding: .75rem;
  overflow: hidden;
  float: right;
  display: none;
}

header #menucontroller{
  display: none;
}

nav{
  float: left;
}

nav ul{
  width: auto;
  max-width: none;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

nav ul li{
  margin: 0;
  float: left;
}

nav a{
  padding: .75rem;
  display: block;
}

nav a:hover{
  background-color: rgba(0,0,0,.1);
}

section{
  margin: 0;
  padding: 3rem 1.5rem;

  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

section.title{
  margin: 0 0 -3rem 0;
  padding: 6rem 1.5rem 0 1.5rem;
}

section.cyan{
  background-color: #07c;
  color: #fff;
}

section.blue{
  background-color: #045;
  color: #fff;
}

section img{
  width: 12.5%;
  float: right;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.image{
  margin: 0;
  padding: 0;
}

h1, .text h2, .text .image{
  width: 51%;
  padding: 0 1.5rem;
  box-sizing: border-box;
  float: left;
}

.text h3, .text h4, .text h5, .text h6, .text p, .text blockquote{
  width: 49%;
  max-width: 640px;
  margin-left: 51%;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.text ol, .text ul{
  width: 49%;
  max-width: 640px;
  margin-left: 51%;
  padding: 0 1.5rem 0 3rem;
  box-sizing: border-box;
}

.text.col{
  width: 50%;
  float: left;
}

.col h3, .col h4, .col h5, .col h6, .col p, .col blockquote{
  width: 100%;
  margin-left: 0;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

body.front{
  min-height: calc(100vh - 3rem);
  margin: .75rem;

  background-color: #045;
  background-image: url("/static/images/background@1x.jpg");
  background-size: cover;
  background-position: center;

  color: #fff;
}

body.front a{
  color: #fff;
}

header.front{
  background-color: rgba(255,255,255,0);
}

header.front #logo{
  display: none;
}

section.front .logo{
  width: 100%;
  padding: 3rem 0;
}

section.front .logo span{
  width: 51%;
  padding: 0 1.5rem;
  display: block;
  box-sizing: border-box;
}

section.person{
  width: 49%;
  max-width: 640px;
  margin-left: 51%;
  padding: 1.5rem;
  box-sizing: border-box;
}

section.person img{
  width: auto;
  height: 7.5rem;
  margin-right: 1.5rem;
  float: left;
}

section.person h3, section.person p{
  width: 100%;
}

@media (max-width: 1024px){
  header{
    padding: 0 1.5rem;
  }

  header.front{
    padding: 1.5rem;
  }

  header #menubutton{
    display: block;
  }

  nav{
    display: none;
    float: none;
    width: 100%;
    padding: 1.5rem 0;
  }

  header.front nav{
    background-color: #045;
  }

  nav ul{
    padding: 0;
    width: 100%;
  }

  nav ul li{
    float: none;
  }

  #menucontroller:checked ~ nav{
    display: block;
  }

  section{
    padding: 1.5rem 0;
  }

  section.title{
    margin: 0 0 -1.5rem 0;
    padding: 6rem 0 0 0;
  }

  section.person{
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 640px){

  h1, .text h2, .text .image{
    width: 100%;
    padding: 0 .75rem;
    float: none;
    text-align: left;
  }

  section.front .logo span{
    width: 100%;
    padding: 0 .75rem;
  }

  .text h3, .text h4, .text h5, .text h6, .text p, .text ol, .text ul, .text blockquote{
    width: 100%;
    margin-left: 0;
    padding: 0 .75rem;
  }

  .text.col{
    width: 100%;
  }

  section img{
    width: 25%;
    float: right;
    margin: 0 1.5rem 1.5rem 1.5rem;
  }

  section.person{
    padding: .75rem;
  }
}

@media (max-width: 568px){
  html{
    padding: 0;
  }
  header{
    padding: 0 .75rem;
  }
}
