html, body{
  padding: 0;
  margin: 0;
}

body{
  padding: 3rem 0 0 0;
}

header{
  width: 100%;
  position: fixed;
  top: 0;

  box-sizing: border-box;

  background-color: white;
}

header #logo{
  padding: .75rem;
  width: calc(100% - 3rem);

  display: block;
  box-sizing: border-box;
  float: left;

  text-align: right;
  text-transform: uppercase;
}

header #logo span:first-child{
  display: block;
  font-size: 1rem;
  line-height: 1rem;
}

header #logo span:last-child{
  display: block;
  font-size: .5rem;
  line-height: .5rem;
}

header #menubutton{
  margin: 0;
  padding: .75rem;

  display: block;
  float: right;
  vertical-align: middle;
}

header #menubutton img{
  display: block;
}

nav{
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: right;

  padding: .75rem 0;
  width: 100%;
  overflow: hidden;
}

nav ul{
  margin: 0;
  padding: 0;

  list-style: none;
  overflow: hidden;
}

nav ul li{
  margin: 0;
  padding: .75rem 1.5rem;

  display: block;
}

nav a{
  text-decoration: none;
}

section{
  padding: 1.5rem;

  overflow: hidden;
}

@media (min-width: 768px) {
  header{
    padding: 0 2.25rem;
  }

  header #logo{
    width: auto;
    float: right;
  }

  header #menubutton{
    display: none;
  }

  nav{
    padding: 0;
    width: auto;
  }

  nav ul li{
    padding: .75rem;
    float: left;
  }

  section{
    padding: 3rem;
  }

  section h2{
    width: calc(50% - 1.5rem);
    float: left;
  }

  section h3, section p, section ul{
    width: 50%;
    margin-left: 50%;
  }
}
